.charcoal {
    color: #384147;
}

.pink {
    color: #ec008c;
}

.green {
    color: #45f5a5;
}

.grey {
    color: #d1d1d1;
}

.mid_grey {
    color: #979797;
}

.dark_grey {
    color: #384147;
}

.blue_grey {
    color: #8fb6c7;
}

.neutral_900 {
    color: #24282b;
}

.neutral_400 {
    color: #c7d4dd;
}

.neutral_500 {
    color: #a8bcc9;
}

.neutral_600 {
    color: #7e97a7;
}

.neutral_100 {
    color: #f1f7fb;
}

.white {
    color: #fff;
}

.whit2e {
    color: rgb(240, 240, 240);
}

.black {
    color: #000;
}