uvicorn>=0.21.1
fastapi>=0.95.0
sse-starlette>=1.3.3
langchain==0.3.19
langchain_openai
simplejson==3.20.1
pycryptodome==3.19.1
boto3
requests
unstructured==0.16.20
#cysystemd
qdrant-client
azure-storage-blob
pandas
tiktoken
pyjwt
aiofiles
html5lib
bs4
discord.py
mkdocs-material
build
